.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    color: #ffffff;
    width: 100%;
    z-index: 30;
    position: fixed;
    bottom: 0;
    height: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons {
    margin-top: 1.5rem;
    a:not(:last-child) {
        margin-right: 1.5rem;
    }
}
